// ! ფერების, ფონტების და ზომების ცვლადები
// მთელი საიტის პალიტრა აქ ერთ ადგილას იცვლება

// ძირითადი ფერები
$red: rgb(234, 32, 46);
$dark: rgb(44, 45, 46);
$gray: rgb(118, 120, 122);

// დამატებითი ფერები
$light-bg: rgb(246, 246, 246);
$white: rgb(255, 255, 255);

// შრიფტი
$main-font: "Lato", sans-serif;

// ზომები
$section-space: 80px;
$radius: 4px;
